@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Sarabun&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}

body {
    background: #e7e9eb;
}

.container {
    width: 85vw;
    max-width: 1000px;
    margin: auto;
    background-color: white;
}

body {
    font-family: 'Sarabun', sans-serif;
}

#form.container {
    padding: 1em 3em;
    margin-top: 3em;
    border-radius: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.col4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5em;
    margin-bottom: .5em;
}

.col2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5em;
    margin-bottom: .5em;
}

#form label {
    text-align: right;
}

#form * {
    font-family: 'Kanit', sans-serif;
}

#print {
    margin-top: 1em;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: .5em 1em;
}

hr {
    margin: 1em;
}

table {
    width: 95vw;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

thead td {
    font-weight: bold;
}

td {
    padding: .5em .5em;
    border: 1px solid black;
}

td.name {
    text-align: left;
}

.right {
    text-align: right;
}

h1 {
    text-align: center;
    margin-bottom: .5em;
}

#print .container {
    width: 95vw !important;
    max-width: none;
}

canvas {
    display: block;
    margin: auto;
}

.fakefooter {
    position: fixed;
    bottom: 0;
    height: 1em;
    background-color: red;
}

.btn-group {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.btn {
    padding: .5em 1em;
    cursor: pointer;
    width: fit-content;
    font-size: 1em;
    border-radius: .5em;
    font-family: 'Kanit', sans-serif;
    border: none;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.btn:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.restart {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* .restart:hover {
    background-color: black;
    color: white;
} */

.save {
    background-color: #3388ff;
    border: 1px solid #3388ff;
    color: white;
}

.print {
    background-color: #44b661;
    border: 1px solid #44b661;
    color: white;
}

footer {
    margin-top: 2em;
    text-align: center;
    color: grey;
}

.ps {
    margin-top: 1em;
    text-align: right;
}