<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Checker</title>
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
        integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div id="app">
        <div id="form" class="container" v-if="page=='home'">
            <h1>ทะเบียนควบคุมทรัพย์สิน</h1>
            <form action="#" @submit.prevent="store()">
                <div class="col4">
                    <label for="docCode">ที่เอกสาร</label>
                    <input v-model="product.docCode" type="text" id="docCode">
                    <label for="type">ประเภท</label>
                    <select v-model="product.type" id="how">
                        <option value="veh">ครุภัณฑ์ยานพาหนะและขนส่ง</option>
                        <option value="kit">ครุภัณฑ์งานบ้านงานครัว</option>
                        <option value="com">ครุภัณฑ์คอมพิวเตอร์</option>
                        <option value="off">ครุภัณฑ์สำนักงาน</option>
                        <option value="med">ครุภัณฑ์วิทยาศาสตร์การแพทย์</option>
                        <option value="ads">ครุภัณฑ์โฆษณาและเผยแพร่</option>
                        <option value="elc">ครุภัณฑ์ไฟฟ้าและวิทยุ</option>
                        <option value="res">อาคารเพื่อพักอาศัย</option>
                        <option value="bld">สิ่งปลูกสร้าง</option>
                        <option value="ofb">อาคารสำนักงาน</option>
                        <option value="etc">อาคารเพื่อประโยชน์อื่น</option>
                    </select>
                    <label for="code">รหัส</label>
                    <input v-model="product.code" type="text" id="code">
                    <label for="properties">ลักษณะ/คุณสมบัติ</label>
                    <input @change="product.name = product.properties + ' ' + product.version"
                        v-model="product.properties" type="text" id="properties">
                </div>
                <div class="col4">
                    <label for="version">รุ่น/แบบ</label>
                    <input @change="product.name = product.properties + ' ' + product.version" v-model="product.version"
                        type="text" id="version">
                    <label for="location">สถานที่ตั้ง</label>
                    <input v-model="product.location" type="text" id="location">
                    <label for="seller">ชื่อผู้ขาย/ผู้รับบริจาค</label>
                    <input v-model="product.seller" type="text" id="seller">
                    <label for="sellerPlace">ที่อยู่</label>
                    <input v-model="product.sellerPlace" type="text" id="sellerPlace">
                    <label for="sellerPhone">โทรศัพท์</label>
                    <input v-model="product.sellerPhone" type="text" id="sellerPhone">
                </div>

                <div class="col2">
                    <label for="budgetType">ประเภทเงิน</label>
                    <select v-model="product.budgetType" id="budgetType">
                        <option value="1">เงินงบประมาณ</option>
                        <option value="2">เงินนอกงบประมาณ</option>
                        <option value="3">เงินบริจาค</option>
                        <option value="4">เงินบำรุง</option>
                    </select>
                    <label for="how">วิธีการได้มา</label>
                    <select v-model="product.how" id="how">
                        <option value="1">ตกลงราคา</option>
                        <option value="2">สอบราคา</option>
                        <option value="3">ประกวดราคา</option>
                        <option value="4">วิธีพิเศษ</option>
                        <option value="5">รับบริจาค</option>
                        <option value="6">วิธีประกาศเชิญชวนทั่วไป</option>
                        <option value="7">วิธีคัดเลือก</option>
                        <option value="8">วิธีเฉพาะเจาะจง</option>
                    </select>
                    <label for="date">วันเดือนปีที่ได้มา</label>
                    <input @change="calendarToday()" v-model="product.date" type="date">
                </div>

                <div class="col4">
                    <label for="name">ชื่อรายการ</label>
                    <input v-model="product.name" type="text" id="name">
                    <label for="price">ราคา</label>
                    <input v-model="product.price" type="text" id="price">
                    <label for="amt">จำนวนหน่วย</label>
                    <input v-model="product.amt" type="text" id="name">
                    <label for="age">อายุการใช้งาน </label>
                    <input v-model="product.age" type="text" id="age">
                </div>

                <div class="btn-group">
                    <a @click=" reset()" class="restart btn">เริ่มใหม่ <i class="fa-solid fa-floppy-disk"></i></a>
                    <button class="save btn">บันทึก <i class="fa-solid fa-floppy-disk"></i></i></button>
                </div>
            </form>

            <footer>
                <!-- Version -->
                Property Checker 1.4.3
            </footer>
        </div>

        <div id="print" v-if="page=='print'">
            <div id="toJpg">
                <h1>ทะเบียนควบคุมทรัพย์สิน {{type[product.type]}}</h1>

                <div class="container">
                    <div class="right">
                        <p>ส่วนราชการ: สำนักงานสาธารณะสุข อำเภอเมืองตาก</p>
                        <p>หน่วยงาน: โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านลานสาง</p>
                    </div>

                    <div class="flex">
                        <p>ประเภท: {{type[product.type]}}</p>
                        <p>รหัสครุภัณฑ์: {{product.code}}</p>
                        <p>ลักษณะ/คุณสมบัติ: {{product.properties}}</p>
                        <p>รุ่น/แบบ: {{product.version}}</p>
                        <p>สถานที่ตั้ง/หน่วยงานที่รับผิดชอบ: {{product.location}}</p>
                        <p>ชื่อผู้ขาย/ผู้รับบริจาค: {{product.seller}}</p>
                        <p>ที่อยู่: {{product.sellerPlace}}</p>
                        <p>โทรศัพท์: {{product.sellerPhone}}</p>
                        <p>ประเภทเงิน: {{budgetType[product.budgetType]}}</p>
                        <p>วิธีการได้มา: {{how[product.how]}}</p>
                    </div>
                </div>

                <hr>
                <table class="table">
                    <thead>
                        <tr>
                            <td>วัน/เดือน/ปี</td>
                            <td>ที่เอกสาร</td>
                            <td>รายการ</td>
                            <td>จำนวนหน่วย</td>
                            <td>ราคาต่อหน่วย/ชุด/กลุ่ม</td>
                            <td>มูลค่ารวม</td>
                            <td>อายุการใช้งาน</td>
                            <td>อัตราค่าเสื่อมราคา</td>
                            <td>ค่าเสื่อมราคาประจำปี</td>
                            <td>ค่าเสื่อมราคาสะสมต่อปี</td>
                            <td>มูลค่าสุทธิคงเหลือ</td>
                            <td>หมายเหตุใช้ประจำ</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="product.price / product.amt >= 5000">
                            <td>{{formatDate(product.date)}}</td>
                            <td>{{product.docCode}}</td>
                            <td class="name">{{product.name}}</td>
                            <td>{{product.amt}}</td>
                            <td class="right">{{formatN(product.price / product.amt)}}</td>
                            <td class="right">{{formatN(product.price)}}</td>
                            <td>{{product.age}}</td>
                            <td>{{formatN(100 / product.age)}}%</td>
                            <td class="right">{{formatN(depre)}}</td>
                            <td></td>
                            <td class="right">{{formatN(product.price)}}</td>
                            <td></td>
                        </tr>

                        <tr v-if="product.price / product.amt >= 5000" v-for="(data, index) in calc">
                            <td v-if="index+1 == calc.length">
                                <span>{{String(formatDate(product.date).split(" ")[0])}}&nbsp;</span>
                                <span>{{formatDate(product.date).split(" ")[1]}}&nbsp;</span>
                                <span>{{parseInt(formatDate(product.date).split(" ")[2])+parseInt(product.age)}}</span>
                            </td>
                            <td v-else-if="parseInt(formatDate(product.date).split(' ')[1]) >= 9">
                                30 ก.ย. {{parseInt(formatDate(product.date).split(" ")[2]) + index + 1}}
                            </td>
                            <td v-else>
                                30 ก.ย. {{parseInt(formatDate(product.date).split(" ")[2]) + index}}
                            </td>
                            <td></td>
                            <td class="name">
                                คำนวณค่าเสื่อมราคา เวลา
                                <span v-if="index > 0">{{index}} ปี </span>
                                <span v-if="index+1 == calc.length"></span>
                                <span v-else>{{duration}} เดือน</span>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="right">{{formatN(data.depre)}}</td>
                            <td class="right">{{formatN(data.leftPrice)}}</td>
                            <td></td>
                        </tr>

                        <tr v-else>
                            <td>{{formatDate(product.date)}}</td>
                            <td>{{product.docCode}}</td>
                            <td class="name">{{product.name}}</td>
                            <td>{{product.amt}}</td>
                            <td class="right">{{formatN(product.price / product.amt)}}</td>
                            <td class="right">{{formatN(product.price)}}</td>
                            <td>{{product.age}}</td>
                            <td class="right"></td>
                            <td></td>
                            <td></td>
                            <td class="right"></td>
                            <td>มูลค่าน้อยกว่า 5,000 ไม่คิดค่าเสื่อมราคา</td>
                        </tr>
                    </tbody>
                </table>
                <div class="container ps" v-if="product.price / product.amt < 5000">
                    <p>
                        หมายเหตุ หมดอายุการใช้งานอย่างมีประสิทธิภาพ วันที่
                        {{formatPS}}
                        แต่ต้องคงมูลค่าสุทธิทางบัญชีไว้
                        1 บาท
                    </p>
                </div>
            </div>
            <div class="btn-group">
                <button @click="page='home'" class="edit btn">แก้ไข <i class="fa-solid fa-rotate-left"></i></i></button>
                <button @click="print()" class="print btn">ปริ้นท์ <i class="fa-solid fa-print"></i></button>
            </div>
        </div>
    </div>
    </div>

    <script src="https://unpkg.com/dayjs@1.11.3/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.11.3/plugin/relativeTime.js"></script>
    <script src="https://unpkg.com/dayjs@1.11.3/plugin/buddhistEra.js"></script>
    <script src="https://unpkg.com/dayjs@1.11.3/plugin/customParseFormat.js"></script>
    <script src="https://unpkg.com/dayjs@1.11.3/locale/th.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./js/main.js"></script>
</body>

</html>
